html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: rgb(14, 9, 54);
  text-align: center;
  border: 20px ridge rgb(255, 255, 255);
}
.blended-button {
  background-color: rgb(14, 9, 54) !important;
  border-style: none !important;
}
.blended-button:hover {
  background-color: #ffffff !important;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

.card-ima .one-hundred-wide {
  max-width: 100%;
}

.container {
  max-width: 100%;
  justify-content: center;
}

/* using these */
q {
  font-family: parkavenue, cursive, serif;
  font-size: 1rem;
}

hr {
  width: 95%;
  color: rgb(126, 126, 126);
  border: 4px dotted rgb(126, 126, 126);
}

.jumbo-border {
  border: 10px ridge rgb(255, 255, 255);
}

.color-nav {
  max-width: 100%;
}

.color-welcome {
  background-color: rgb(14, 9, 54);
  max-width: 100%;
  font-family: cursive, "Times New Roman", Times, serif;
  font-size: 5rem;
  color: #ffffff;
  border: 10px ridge rgb(255, 255, 255);
  padding: 2vh;
}

/* change name */
.container-center {
  max-width: fit-content;
  max-height: fit-content;
  justify-content: center;
  text-align: center;
  /* height: 1000px;
  position: relative;  */
}

.text-right {
  text-align: right;
}

.white-text {
  color: #ffffff;
}

.white-text h2 {
  margin-bottom: 60px;
}

.intro-image {
  float: right;
  width: 358px;
  height: 479px;
  margin-left: 20px;
}

.main-content {
  width: 900px;
}

.row-center {
  max-width: 100%;
  max-height: 100%;
  /* margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
}

.container-center-hor {
  height: 100px;
  position: relative;
}

.row-center-hor {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.color-footer {
  background-color: rgb(14, 9, 54);
  text-shadow: rgb(126, 126, 126);
  font-size: 2rem;
  color: 0px 1px #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.text-shadow-light-font-light {
  text-shadow: 1px 1px rgb(126, 126, 126);
  font-size: 2rem;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.text-shadow-light-font-light-small {
  text-shadow: 1px 1px rgb(126, 126, 126);
  font-size: 1rem;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.text-shadow-dark {
  text-shadow: 1px 1px rgb(6, 0, 58);
  font-size: 2rem;
}

.box-shadow-grey {
  background-color: #a0929b;
  box-shadow: #ffffff 2px 4px 75px 0px;
  max-width: 100%;
  padding: 30px 40px;
}
.dub-border {
  border-style: double;
}

.z-index {
  z-index: 2;
}
/* using above this line */
.logo {
  background-image: url("../src/images/gold.jpg");
  width: "250px";
  height: "250px";
}
